spring:
  application:
    name: audit-verifier
  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5432/auditdb}
    username: ${DB_USER:postgres}
    password: ${DB_PASS:postgres}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
